/* 
#706C61

*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #81F499;

}


.menu{

    max-width: 20px;
    background-color: #AFECE7;
    margin: auto;
}

